@model string
@{
    ViewData["Title"] = "Home Page";
    string room = Model;
}
<h5>Sala @room</h5>

<div class="row">
    <div class="col-12">
        <div id="messages"></div>
    </div>

</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/subscriptionHub").build();

    // conectamos
    connection.start().then(function () {
        // conexión a grupo
        connection.invoke("AddToGroup", "@room")
            .catch(err => console.log(err));
    }).catch(function (err) {
        return console.error(err.toString());
    });

    // recibimos mensaje
    connection.on("ReceiveMessage", function (message) {
        var message = "<div class='alert alert-primary' role='alert'>" + message+"</div>";
        document.getElementById("messages").innerHTML =
            message + document.getElementById("messages").innerHTML;
    });

</script>
